<div class="container"> 
    <div class="column">
        <h2>Seja Bem - Vindo</h2>
            <p>
                Prepare-se para uma viagem matematicamente cômica, onde cada cálculo vai arrancar um suspiro dolorido. Nossas fórmulas são mais cruéis do que uma maratona de comédia sem risos, mas pelo menos você terá uma razão genuína para chorar: o preço estratosférico da gasolina! Então, se você gosta de emoções fortes, venha explorar o mundo hilário e ácido dos cálculos de combustível em nosso site. Vai ser uma experiência tão inesquecível quanto a conta que você vai receber na próxima visita ao posto!
            </p>
    </div>
    <div class="column">
        <h2>A melhor calculadora de gasto com combustível,
            Click para entrar.</h2>
        <a class="waves-effect waves-light btn"
                [routerLink]="['/calc']" [queryParams]="{veiculo:'veicule01'}"
                type="button"
                (click)="this.onButtonClickAgain()"
        >Entrar</a>
    </div>
</div>