<nav>
    <div class="nav-wrapper teal darken-3">
      <a href="#" class="brand-logo">Logo</a>
      <a href="#"data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="['/calc']">Calcular</a></li>
        <li><a href="about.html">Sobre nós</a></li>
        <li><a [routerLink]="['/usuario']">Usuário</a></li>
       
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo" #mobile>
    <li><a [routerLink]="['/calc']">Calcular</a></li>
    <li><a href="about.html">Sobre nós</a></li>
    <li><a [routerLink]="['/usuario']">Usuário</a></li>
  </ul>
